.battle-background {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}


.teacher-character {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.stand-teacher {
  position: absolute;
  top: 15rem;
  right: 0;
  z-index: 1;
}

.enemy-image {
  width: 14rem;
  height: 25rem;
  z-index: 2;
  position: absolute;
  right: 15rem;
  top: 4rem;
}

.enemy-image-mini {
  width: 10rem;
  height: 20rem;
  z-index: 2;
  position: absolute;
  right: 17rem;
  top: 1rem;
}

.enemy-image-blink {
  width: 14rem;
  height: 25rem;
  z-index: 2;
  position: absolute;
  right: 15rem;
  top: 4rem;
  animation: blinkingImage 2s;

  @keyframes blinkingImage {
    0% {opacity: 1;}
    25% {opacity: 0;}
    50% {opacity: 1;}
    75% {opacity: 0;}
    100% {opacity: 1;}
  }
}

.enemy-image-mini-blink {
  width: 10rem;
  height: 20rem;
  z-index: 2;
  position: absolute;
  right: 17rem;
  top: 1rem;
  animation: blinkingImage 2s;

  @keyframes blinkingImage {
    0% {opacity: 1;}
    25% {opacity: 0;}
    50% {opacity: 1;}
    75% {opacity: 0;}
    100% {opacity: 1;}
  }
}

.character-blink {
  animation: blinkingImage 2s;

  @keyframes blinkingImage {
    0% {opacity: 1;}
    25% {opacity: 0;}
    50% {opacity: 1;}
    75% {opacity: 0;}
    100% {opacity: 1;}
  }
}

.stand-user {
  position: absolute;
  left: -9rem;
  bottom: 0;
  z-index: 1;
  width: 20rem;
  height: 12rem;

  img {
    width: 38rem;
    height: 12rem;
  }
}

.user-character, .teacher-character {
  z-index: 2;
}

.user-character {
  position: absolute;
  bottom: 5rem;
  padding-left: 2rem;

  img {
    width: 11rem;
    height: 20rem;
  }
}

.teacher-infos, .user-infos {
  border: 1px solid #085737;
  border-radius: 5px;
  background-color: wheat;
  width: 15rem;
  font-family: $nav-font;
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
}

.dialog-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #579097;
  border: solid #D04F37;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 15px;
  border-right-width: 15px;
  border-radius: 10px;
  width: 100vw;
  height: 10vh;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  text-indent: 10px;
  padding-top: 5px;
  font-family: $nav-font;
  text-shadow: 1px 1px 1px white;
  font-size: 30px;
  font-weight: bolder;
  z-index: 3;
  animation: blinkingBackground 3s;

  @keyframes blinkingBackground {
    0% {background-color: #579097;}
    25% {background-color: #70c0ca;}
    50% {background-color: #579097;}
    75% {background-color: #70c0ca;}
    100% {background-color: #579097;}
  }

  button {
    background-color: transparent;
    border: none;
    text-shadow: 1px 1px 1px white;
  }
}

p {
  margin-bottom: 0;
}

.question-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  position: absolute;
  top: 5rem;
  left: 5rem;
  background-color: rgb(236, 227, 208);
  border: solid 4px #085737;
  border-radius: 10px;
  width: 40vw;
  height: 20vh;
  font-family: $nav-font;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.answer {
  background-color: rgb(236, 227, 208);
  border: solid 4px #085737;
  border-radius: 10px;
  margin-left: 1rem;
  width: 16vw;
  height: 31vh;
  font-family: $nav-font;
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  justify-content: center;
  transition: all .2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.answer-disabled {
  background-color: gray;
  text-decoration: line-through;

  &:hover {
    transform: scale(1);
  }
}

.answers {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  z-index: 2;
  bottom: 11vh;
  right: 1vw;
  width: 100vw;
}

.fa-square-caret-down {
  text-decoration: none;
  color: black;
}

.fa-square-caret-down:hover {
  color: darkgray;
}

.hp-number {
  color: #2c8b31;
}

.hp-number-low {
  color: #D04F37;
}

.answer-link {
  text-decoration: none;
  color: black;

  &:hover {
    color: #31B4DD;
  }
}

.slide-right {
  display: flex;
  position: absolute;
  top: 45%;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  animation: blinkingText 3s infinite;

  @keyframes blinkingText {
    0% {color: #D04F37;}
    25% {color: #da8779;}
    50% {color: #D04F37;}
    75% {color: #da8779;}
    100% {color: #D04F37;}
  }
}

.slide-right p {
  animation: 2s slide-right;
  font-size: 50px;
  font-family: $geek-font;
  font-style: italic;
}

@keyframes slide-right {
   from {
      margin-left: -100%;
   }

   to {
      margin-left: 0%;
   }
}

.question-text {
  z-index: 3;
}

.secret-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 24rem;
}

.secret-input {
  border-radius: 5px;
  border: 2px solid #085737;
}

.secret-input::placeholder {
  font-family: $geek-font;
  color: lightgray;
  text-align: center;
}

.secret-validation {
  font-family: $nav-font;
  font-weight: bold;
  font-size: 25px;
  background-color: #D04F37;
  transition: background 0.3s ease;
  box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  color: wheat;
  height: 48px;
  width: 51px;
  display: flex;
  align-items: center;
  border: 0px;

  &:hover {
    font-family: $nav-font;
    font-weight: bold;
    font-size: 25px;
    background-color: #e2563e;
    box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    border: 0px;
    color: wheat;
    height: 48px;
    width: 51px;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  p {
    font-size: 12px;
   }

  .answer {
    font-size: 11px;
  }

  .question-box {
    font-size: 10px;
  }

  .dialog-box {
    font-size: 18px;
  }

  .enemy-image {
    right: -2rem;
    top: -4rem;
  }

  .enemy-image-blink {
    right: -2rem;
    top: -4rem;
  }

  .enemy-image-mini {
    right: 3rem;
    top: 1rem;
  }

  .enemy-image-mini-blink {
    right: 3rem;
    top: 1rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  p {
    font-size: 16px;
   }

  .answer {
    font-size: 15px;
  }

  .question-box {
    font-size: 15px;
  }

  .dialog-box {
    font-size: 22px;
  }

  .enemy-image {
    right: 1rem;
    top: -4rem;
  }

  .enemy-image-blink {
    right: 1rem;
    top: -4rem;
  }

  .enemy-image-mini {
    right: 3rem;
    top: 1rem;
  }

  .enemy-image-mini-blink {
    right: 3rem;
    top: 1rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  p {
    font-size: 20px;
   }

  .answer {
    font-size: 18px;
  }

  .question-box {
    font-size: 20px;
  }

  .dialog-box {
    font-size: 26px;
  }

  .enemy-image {
    right: 2rem;
    top: -3rem;
  }

  .enemy-image-blink {
    right: 2rem;
    top: -3rem;
  }

  .enemy-image-mini {
    right: 4rem;
    top: 1rem;
  }

  .enemy-image-mini-blink {
    right: 4rem;
    top: 1rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  p {
    font-size: 24px;
   }

  .answer {
    font-size: 21px;
  }

  .question-box {
    font-size: 25px;
  }

  .dialog-box {
    font-size: 28px;
  }

  .enemy-image {
    right: 3rem;
    top: -2rem;
  }

  .enemy-image-blink {
    right: 3rem;
    top: -2rem;
  }

  .enemy-image-mini {
    right: 3rem;
    top: 2rem;
  }

  .enemy-image-mini-blink {
    right: 3rem;
    top: 2rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  p {
    font-size: 24px;
  }

  .answer {
    font-size: 24px;
  }

  .question-box {
    font-size: 30px;
  }

  .dialog-box {
    font-size: 28px;
  }

  .enemy-image {
    right: 5rem;
    top: -1rem;
  }

  .enemy-image-blink {
    right: 5rem;
    top: -1rem;
  }

  .enemy-image-mini {
    right: 9rem;
    top: 3rem;
  }

  .enemy-image-mini-blink {
    right: 9rem;
    top: 3rem;
  }
}

@media (min-width: 1400px) {
  .enemy-image {
    right: 4rem;
    top: 0rem;
  }

  .enemy-image-blink {
    right: 4rem;
    top: 0rem;
  }

  .enemy-image-mini {
    right: 9rem;
    top: 4rem;
  }

  .enemy-image-mini-blink {
    right: 9rem;
    top: 4rem;
  }
}

@media (min-width: 1600px) {
  .enemy-image {
    right: 10rem;
    top: 5rem;
  }

  .enemy-image-blink {
    right: 10rem;
    top: 5rem;
  }

  .enemy-image-mini {
    right: 10rem;
    top: 10rem;
  }

  .enemy-image-mini-blink {
    right: 10rem;
    top: 10rem;
  }
}

.battle-starter {
  display: flex;
  position: absolute;
  top: 45%;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  animation: blinkingText 3s infinite;

  @keyframes blinkingText {
    0% {color: #D04F37;}
    25% {color: #da8779;}
    50% {color: #D04F37;}
    75% {color: #da8779;}
    100% {color: #D04F37;}
  }
}

.text_shadows {
  font-size: 58px;
  font-family: $geek-font;
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  -webkit-animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
          animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@-webkit-keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}
@-webkit-keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
