// Specific CSS for your home-page
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 66px - 60px);
  overflow: hidden;
}

.wrapper-start {
  background-color: white;
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 30px 50px;
  margin: 10px 0;
  width: 40vw;
}

.btn-start {
  color: black;
  padding: 8px 3px;
  border-radius: 4px;
  background: linear-gradient(-180deg, #fff 20%, #f5f5f5 80%);
  transition: background 0.3s ease;
  width: 32%;
  margin-top: 10px;
  font-family: $nav-font;
  border: 0.5px solid #D5D5D5;
}

.btn-start:hover {
  background: linear-gradient(180deg, #f3f3f3 20%, rgb(235, 235, 235) 80%);
  color: black;
  cursor: pointer;
  border: 0.5px solid #c0c0c0;
}

h1 {
  font-family: $nav-font;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.input-box {
  width: 26vw;
  height: 5rem;
  border-radius: 5px;
  border: solid 1px lightgrey;
  font-family: $geek-font;
  font-size: 1.5rem;
  text-indent: 1rem;
}

.input-box::placeholder {
  position: absolute;
  top: 0;
  font-size: 20px;
  color: lightgray;
}

.mini-wrap {
  margin: 0 auto;
}

.back {
  position: fixed;
  background-color: rgb(165, 164, 164);
  border-radius: 0px;
  padding: 0px 12px;
  box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.2);
  opacity: 1;
  border: none !important;
  font-family: $nav-font;
  font-size: 20px;
  margin: 0;
  left: 0px;
  border-radius: 0 0 10px 0
}

.fa-volume-high {
  color: rgb(228, 225, 225);
}

.footer {
  background: #243038;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  padding: 0px 30px;
  font-family: $geek-font;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.footer .fa-handshake-simple {
  color: #BC5061;
}
