<h1>This is the clear page</h1>

<%= link_to continue_game_path(@game), data: { turbo_method: :patch, dialog_switch_target: 'continue' } do %>
          <i class="fa-regular fa-lg fa-square-caret-down"></i>
        <% end %>

<%= link_to root_path do %>
          <i class="fa-regular fa-lg fa-square-caret-down"></i> "Return home"
        <% end %>
