<div data-controller="music">
  <audio src="/Wagon-music.mp3" loop='true' data-music-target='audio'></audio>
  <button class="btn back" data-action='click->music#play' data-music-target='playButton'><i class="fa-solid fa-volume-xmark"></i></button>
  <button class="btn back" data-action='click->music#pause' data-music-target='pauseButton' hidden><i class="fa-solid fa-volume-high"></i></button>
</div>

<div class="container">
  <div class="intro">
    <% 8.times do |y| %>
      <% 10.times do |x| %>
      <% position = "#{x + 1}-#{y + 1}" %>
        <div class ="tile" id="<%=position%>">
          <% if @user_position == position %>
            <%= image_tag "userstatic.png", width: 48, height: 96, class: "user" %>
          <% end %>
          <% if @slackbot_position == position %>
            <%= cl_image_tag @slackbot.avatar_map.key, width: 48, height: 96, class: "teacher" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<%= link_to "Continue", continue_game_path(@game), data: { turbo_method: :patch } %>
</div>
