<div data-controller="music">
  <audio src="/Room-music.mp3" loop='true' data-music-target='audio'></audio>
  <button class="btn back" data-action='click->music#play' data-music-target='playButton'><i class="fa-solid fa-volume-xmark"></i></button>
  <button class="btn back" data-action='click->music#pause' data-music-target='pauseButton' hidden><i class="fa-solid fa-volume-high"></i></button>
</div>

<div class="map">
  <% 21.times do |y| %>
    <% 25.times do |x| %>
    <% position = "#{x + 1}-#{y + 1}" %>
      <div class ="tile" id="<%=position%>">
        <% if @teachers_per_position.key?(position) %>
          <%= cl_image_tag @teachers_per_position[position].avatar_map.key, width: 48, height: 96, class: "teacher" %>
          <%#= image_tag "jeremystatic.png", width: 48, height: 96, class: "teacher" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
