<%= render "shared/navbar" %>
<div data-controller="music">
  <audio src="/free_home.mp3" loop='true' data-music-target='audio'></audio>
  <button class="btn back" data-action='click->music#play' data-music-target='playButton'><i class="fa-solid fa-volume-xmark"></i></button>
  <button class="btn back" data-action='click->music#pause' data-music-target='pauseButton' hidden><i class="fa-solid fa-volume-high"></i></button>
</div>

<div class="container">
  <div class="wrapper-start d-flex flex-column">
    <h1>Wagon Quest</h1>
    <div class="mini-wrap">
    <p style="font-family: Inconsolata; font-size: 1rem; padding-bottom: 10px;">Name your character (10 characters max)</p>
      <%= simple_form_for(@game, data: {turbo: false}) do |f| %>
      <div class="d-flex justify-content-center flex-column">
        <%= text_area_tag :username, nil, maxlength: 10, placeholder: "Paul Mc Cartney...", class:'input-box'%>
        <%= f.submit "Start game", class:'btn btn-start' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

  <div class="footer">
    <div class="footer-copyright">
      This website is made by Paryssa, Luther and Thomas <i class="fa-solid fa-handshake-simple"></i> at Le Wagon
    </div>
  </div>
