$map-width: 1200px;
$map-height: 1000px;

$tile-size: 48px;

$scale: 0.85;

.map {
  width: $map-width * $scale;
  height: $map-height * $scale;
  background-image: asset-url("Map1.png");
  background-size: cover;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(25, $tile-size * $scale);

  .tile {
    width: $tile-size * $scale;
    height: $tile-size * $scale;
  }

  .teacher, .user {
    width: $tile-size * $scale;
    height: $tile-size * 2 * $scale;
  }
}
