.map {
  $map-width: 1296px;
  $map-height: 912px;

  $tile-size: 24px; //48px;
  $tile-count-x: 54;//27;

  $scale: 0.78;

  width: $map-width * $scale;
  height: $map-height * $scale;
  background-image: asset-url("Map1.png");
  background-size: cover;
  margin: auto;
  display: grid;
  grid-template-columns: repeat($tile-count-x, $tile-size * $scale);

  .tile {
    width: $tile-size * $scale;
    height: $tile-size * $scale;
    position: relative;
  }

  .teacher, .user {
    width: 26.8px;//$tile-size * $scale;
    height: 53.6px;//$tile-size * 2 * $scale;
    position: absolute;
    bottom: 0px;
  }
}
